html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
	display: none;
}
body{
	-ms-overflow-style:none;
    font-family: cursive;
	font-family:  Microsoft JhengHei;
	height: 100%;
}
/* 
.container{
    background-image: url(../images/mbg.gif);
}
 */
.navbar-fixed-top { 
    position: sticky; 
    top: 0; 
    z-index: 1030; 
}
.menu{
	margin-left: 15px;
	margin-right: 15px;
	font-size:18px;
	transition: 1s;
	border-radius: 50px;
}
.menu:hover{
	background-color: #acacac;
}
/*
#p1{
    background-color: rgba(252, 183, 183, 0.5);
    float: right;
    width: 400px;
    height: 130px;
    border-radius: 20px;
    box-shadow: 0.1em 0.1em 0.05em #868686;
}
*/
h4{
    text-shadow: 0.1em 0.1em 0.05em #242424;
    color: #fff;
    line-height: 130px;
}
.ptxt{
    font-size: 26px;
    text-shadow: 0.1em 0.1em 0.05em #242424;
}
.content{
	width: 75%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 100px;
}
a{
    color: black;
}
a:hover{
    color: #333;
    text-decoration-line: none;
}
.title{
    text-align: center;
    margin: 20px auto;
}
h3{
    font-weight: bold;
    color: rgb(74, 86, 255);
    text-shadow: 0.07em 0.07em 0.05em #333;
}
.ptxt{
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0.07em 0.07em 0.05em rgb(148, 148, 148);
    padding: 0 50px;
}
.size img{
    height: 300px;
}
.liH{
    width: 300px;
}
.lyrics{
    /* display: none; */
    width: 300px;
}
#close{
	position: fixed;
	background-image: url(../images/close.png);
	background-size: contain;
	bottom: 150px;
	right: -75px;
	width: 75px;
	height: 75px;
	transition: 1s;
}